<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自定义组件v-model</title>
  <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div id="app">
  <runoob-input v-model="num"></runoob-input>
  <p>输入的数字为:{{ num }}</p>
</div>
<script>
  Vue.component('runoob-input', {
    template: `
    <p>
      <input
        ref="input"
        :value="value"
        @input="$emit('input', $event.target.value)"
      >
    </p>
    `,
    props: ['value'], // 名为value的prop
  })

  new Vue({
    el: '#app',
    data: {
      num: 100,
    }
  })
</script>

</body>
</html>
